*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
body {
  font-family: 'Roboto', sans-serif;
  padding: 10rem;
}
h1{
  font-size: 3.6rem;
  margin-bottom: .7rem;
}
p{
  font-size: 1.6rem;
  margin-bottom: .7rem;
}
input{
  width: 100%;
}

/* content */
.content{
  border: 1px dotted red;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  max-width: 96rem;
  min-width: 64rem;
  display: flex;
  justify-content: space-between;
}
.personal{
  border: 1px dotted black;
  width: 30rem;
}
.info{
  border: 1px dotted black;
  width: 60rem;
}
 